html {
  font-family: "Helvetica Neue", Helvetica;
}

.container {
  position: relative;
}

.command-hamburger {
  position: absolute;
}

.burger-menu {
  position: absolute;
  right: -400px;
  width: 400px;
  background: blue;
}

.game-container {
  width: 350px;
  margin: 40px auto;
  padding: 10px;
  border: 1px solid #ccc;
}

.intro-box {
  text-align: center;
  line-height: 100%;
}

.game-box {
  display: none;
}

.score-container {
  /*border: 1px solid #ccc;
  padding: 5px 0;*/
  text-align: center;
}

.problem-container {
  width: 100%;
  margin-top: 15px;
}

.digital-clock {
  display: none;
}

.analog-clock {
  text-align: center;
}

.offset-container {
  margin-top: 5px;
}

.answer-container {
  width: 100%;
  margin-top: 15px;
}

.answer {
  width: 140px;
  margin-bottom: 5px;
}

.message-container {
  margin-top: 15px;

  padding: 7px;
  background: #ccc;
  display: none;
}

.error {
  border: 1px solid red;
  background: rgb(253, 232, 232);
}

.success {
  border: 1px solid green;
  background: rgb(200, 224, 200);
}

.info {
  border: 1px solid #028CFF;
  background: #D6ECFF;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}