html {
  font-family: "Helvetica Neue", Helvetica;
}

.container {
  width: 200px;
  margin: 40px auto;
  padding: 10px;
  border: 1px solid #ccc;
}

.score-container {
  border: 1px solid #ccc;
  padding: 5px 0;
  text-align: center;
}

.problem-container {
  width: 100%;
  margin-top: 15px;
}

.offset-container {
  margin-top: 5px;
}

.answer-container {
  width: 100%;
  margin-top: 15px;
}

.answer {
  width: 190px;
  margin-bottom: 5px;
}

.message-container {
  margin-top: 15px;

  padding: 7px;
  /*background: rgb(231, 147, 147);*/
  background: #ccc;
  display: none;
}

.error {
  border: 1px solid red;
}